Magic 271485
Revision Verdi3_L-2016.06-1

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 28 1853 397 340 89

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/damage/proj/dmg/git/com/sim/sim_base/bin/run.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 0.000000 107.060000 1n
cursor 62.000000
marker 46.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 31

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "pipe_ctrl" -e FALSE
activeDirFile "" "/home/damage/proj/dmg/git/com/sim/sim_base/bin/run.fsdb"
addSignal -h 15 /top/u_com_pipe_ctrl/ivld
addSignal -h 15 -holdScope irdy
addSignal -h 15 -holdScope ovld
addSignal -h 15 -holdScope ordy
addSignal -expanded -c ID_ORANGE5 -ls solid -lw 1 -h 15 -UNSIGNED -HEX -holdScope pipe_upen[2:0]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -holdScope pipe_upen[2]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -holdScope pipe_upen[1]
addSignal -c ID_ORANGE5 -ls solid -lw 1 -h 15 -holdScope pipe_upen[0]
addGroup "arbiter_lite" -e FALSE
addSignal -expanded -h 15 -UNSIGNED -HEX /top/u_com_arbiter_lite/requests[2:0]
addSignal -h 15 -holdScope requests[2]
addSignal -h 15 -holdScope requests[1]
addSignal -h 15 -holdScope requests[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope grant_id[1:0]
addGroup "spram_mate" -e FALSE
addSignal -h 15 /top/u_com_spram_mate/arr_wr_vld[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_wr_rdy[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_wr_addr[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_wr_data[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_vld[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_rdy[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_addr[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_ack[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_data[1:0]
addSignal -h 15 /BLANK
addSignal -h 15 /top/u_com_spram_mate/cen
addSignal -h 15 -holdScope we[0:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope addr[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope din[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope qout[31:0]
addGroup "tpram_mate" -e FALSE
addSignal -h 15 /top/u_com_tpram1ck_mate/arr_wr_vld[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_wr_rdy[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_wr_addr[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_wr_data[2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_vld[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_rdy[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_addr[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_ack[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope arr_rd_data[1:0]
addSignal -h 15 /BLANK
addSignal -h 15 /top/u_com_tpram1ck_mate/wr_en[0:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wr_addr[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope wr_data[31:0]
addSignal -h 15 -holdScope rd_en
addSignal -h 15 -UNSIGNED -HEX -holdScope rd_addr[7:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rd_data[31:0]
addGroup "G5"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/damage/proj/dmg/git/com/sim/sim_base/bin/run.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/top"

SCOPE_LIST_BEGIN
"/top"
"/top/afifo_if"
"/top/fifo_if"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


