#File I/O
CaseDir : "./tmp/"

#config
pixel_bitlen                  :                  10
pic_width                     :                 352
pic_heigh                     :                 288
cut_rd_width                  :                 353
cut_rd_heigh                  :                 289
cut_rd_xpos                   :                   0
cut_rd_ypos                   :                   0
